*/*venv
*/.env
infra/setup.local.sh
infra/deploy/.terraform*
infra/deploy/terraform.tfstate*
infra/deploy/*.tfplan
infra/.terraform*
backend/import_data/images/*
backend/node_modules
backend/package-lock.json
frontend/reviewmap-react/.venv
frontend/reviewmap-react/package-lock.json